header {
    background-color: white;
    border: solid;
}
img {
    height: 200px;
    width: 200px;
}
body {
    background-image: url(crossline-dots.jpg)
}
.maincontent {
    background-color: white;
    margin: 0 auto;
    width: 960px;
    float: inline;
}