header {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    display: flex;
}
footer{
    background-color: #666666;
    color: #777777;
    border-top: 8px solid #6b5b95;
    padding-top: 15px;
}
img {
    height: 200px;
    width: 200px;
}
.background {
    min-height: calc(100vh - 203px);
    padding-top: 40px;
    background-image: url(crossline-dots.jpg);
    background-repeat: repeat;
}
.maincontent {
    display: block;
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

}
.mynameheader {
    background-color: #6b5b95;
    color: #405d27;
    width: 225px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#navbar {
    display: flex;
    background-color: white;
    color: #777777;
    margin-left: 420px;
}
#navbar ul {
    padding: 0;
    list-style: none;
    align-self: flex-end;
}
#navbar li {
    display: inline;
    border-right: solid 1px #6b5b95;
}
#navbar a:link {
    color: red;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 30px;
}
#navbar a:hover {
    color: blue;
}
#navbar a:active {
    color: purple;
}
.footer {
    height: 50px;
}
.center {
    display: table;
    margin: 0 auto;
    text-align: center;
}